<% layout('layouts/boilerplate')%>


    <div>
        <h1 class="text-center">Edit Summercamp</h1>
        <div class="col-6 offset-3"></div>

        <form action="/summercamps/<%= summercamp._id%>?_method=PUT" method="POST" novalidate class="validated-form">
            <div class="mb-3">
                <label class="form-label" for="title">Title</label>
                <input class="form-control" type="text" id="title" name="summercamp[title]"
                    value="<%= summercamp.title%>" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="location">Location</label>
                <input class="form-control" type="text" id="location" name="summercamp[location]"
                    value="<%= summercamp.location%>" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="image">Image</label>
                <input class="form-control" type="text" id="image" name="summercamp[image]"
                    value="<%= summercamp.image%>" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="price">Price</label>
                <div class="input-group">
                    <span class="input-group-text">$</span>
                    <input type="text" class="form-control" id="price" name="summercamp[price]" placeholder="0.00"
                        aria-label="price" aria-describedby="price-label" value="<%= summercamp.price%>">
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="description">description</label>
                <textarea class="form-control" type="number" id="description"
                    name="summercamp[description]"><%= summercamp.description%></textarea>
            </div>
            <div class="mb-3">
                <button class="btn btn-primary">Update Summercamp</button>
            </div>
        </form>
        <a href="/summerCamps/<%= summercamp._id%> ">Back to Summercamp</a>
        <a href="/summerCamps">All summercamp</a>
    </div>